{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2 class="logo-font text-center">Product Management</h2>
            </div>
        </div>

        <div class="row add-product-box">
            <div class="col-12 col-md-6">
                <h5 class="text-muted text-center">Add a Product</h5>
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2 rounded px-3 mb-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn more-btn" href="{% url 'products' %}">Cancel</a>
                        <button class="btn add-cart" type="submit"><i class="fas fa-plus"></i> ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}