{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                            <img class="card-img-top img-fluid img-box" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="card-img-top img-fluid img-box" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5 product-container">
                    {% if request.user.is_superuser %}
                        <div class="col-12 admin-btn-box-2">
                            <a class="admin-btn-edit" href="{% url 'edit_product' product.id %}">Edit <i class="fas fa-cog"></i></a>
                            <a class="admin-btn-delete" href="{% url 'delete_product' product.id %}">Delete <i class="fas fa-trash-alt"></i></a>
                        </div>
                    {% endif %}
                    <p class="mb-0">{{ product.name }}</p>
                    {% if product.on_sale %} 
                                        <p class="lead mb-0 text-left font-weight-bold">
                                        {% if product.weight_price %} 
                                            ${{ product.price }} <small>/ kg</small><span class="on-sale"> - On Sale!
                                            <i class="fas fa-comment-dollar"></i></span>
                                        </p>
                                        {% else %}
                                        <p class="lead mb-0 text-left font-weight-bold">
                                                ${{ product.price }}<span class="on-sale"> - On Sale!
                                                <i class="fas fa-comment-dollar"></i></span>
                                            </p>
                                        {% endif %} 
                                    {% else %}
                                        {% if product.weight_price %}
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}<small>/ kg</small></p>
                                        {% else %}
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% endif %} 
                                    {% endif %} 
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.is_ripe as r %}
                            {% if r %}
                                <div class="col-12">
                                    <p><strong>Ripeness:</strong></p>
                                    <select class="form-control ripe-box w-50" name="product_ripe" id='id_product_ripe'>
                                        <option value="Almost">Almost Ripe</option>
                                        <option value="Ripe" selected>Ripe</option>
                                        <option value="Extra">Really Ripe</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn qty-btn" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn qty-btn"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col{% if r %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" id="return_products" class="btn">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase more-btn">Back</span>
                                </a>
                                <input type="submit" class="add-cart btn" value="Add to Cart" id="add-to-cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript" src="{% static 'products/js/addtocart.js' %}"></script>
        <script type="text/javascript">
            // Load users saved filter preferences from localStorage 
            // to product_details "back" button
            const filterUrl = sessionStorage.getItem('userFilter');
            const noFilter = "{% url 'products' %}"
            // If no filters or categories has been used for this session
            if (sessionStorage.getItem("userFilter") === null || sessionStorage.getItem("userFilter") === " ") {
                // set defualt href to product_details "back" button
                document.getElementById('return_products').setAttribute('href', noFilter);
            } else {
                // Otherwise set recently used filters to product_details "back" button
                document.getElementById('return_products').setAttribute('href', filterUrl);
            };
        </script>
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}